@font-face {
    font-family: bebas-neue;
    src: url("https://content.urn1350.net/content/fonts/bebas-neue/BebasNeue-Regular.ttf");
}

h1, h2, h3, h4, h5, h6, nav, .MuiButton-label, .h {
    font-family: bebas-neue !important;
}

.h {
    text-align: center;
}