.schedule {
    padding: 1rem;
    text-align: center;
    height: 425px;
    margin-top: 12.5px;
    margin-bottom: 25px;
}


.schedule-parent iframe {
    width: 100%;
}

.schedule h1 {
    margin: 0;
}

.spotify {
    padding: 0;
    width: min(30rem, 95vw);
    margin: auto;
}

.twitter-card {
    width: min(30rem, 95vw);
    height: 45rem;
}

.twitter-card a.twitter-timeline {
    display: none;
}

.speech {
    background-color: #ea4b2a !important;
}

.news {
    background-color: #007a76 !important;
}

.after-dark {
    background-color: #2e343f !important;
}

.sport {
    background-color: #008ac4 !important;
}

.daytime {
    background-color: #c60047 !important;
}

.show-name {
    font-weight: bold;
}

.automation {
    display: none;
}

.show {
    color: white !important;
    padding: 0.05rem;

}

.schedule .MuiButtonBase-root {
    margin: 0.5rem;
}

.day-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.day {
    width: 20rem;
    padding: 1rem 1rem;
    margin: 1rem;
    display: inline-block;
}

.day h1 {
    margin: 0;
}

.day .show-name {
    max-width: 8rem;
}

.day .show-time {
    max-width: 5rem;
}